In [1]:
import folium
import pandas as pd
import json
from folium import plugins

In [2]:
df = pd.read_csv('loc.csv')

In [3]:
df.head()

   latitude  longitude
0  18.59723   73.86563
1  18.59642   73.86923
2  18.59374   73.89532
3  18.53144   73.84777
4  18.57388   73.93652

In [5]:
with open('map.geojson') as f:
    laArea = json.load(f)

In [6]:
laMap = folium.Map(location=[18.516726,73.856255], tiles='Stamen Toner', zoom_start=9)

In [7]:
folium.GeoJson(laArea).add_to(laMap)

In [8]:

#for each row in the Starbucks dataset, plot the corresponding latitude and longitude on the map
for i,row in df.iterrows():
    folium.CircleMarker((row.latitude,row.longitude), radius=3, weight=2, color='red', fill_color='red', fill_opacity=.5).add_to(laMap)

#save the map as an html    
laMap.save('laPointMap.html')

In [9]:
x = pd.read_csv("a.csv")

In [10]:
x.head()

        Location         Note
0  Langston Pune  Eve teasing

In [ ]:
!pip install geopy

In [28]:
y = x.Location[0]

In [24]:
print(type(y))

<class 'str'>

In [47]:
from geopy.geocoders import Nominatim
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode(y)
print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))

Latitude = 18.561316750000003, Longitude = 73.94338224966612

In [43]:
p,q = location.latitude, location.longitude

In [48]:
print(p)

18.561316750000003

In [49]:
array = [[p,q]]
print(array)

[[18.561316750000003, 73.94338224966612]]

In [66]:
x = df.append({'latitude':p, 'longitude':q},ignore_index=True)

In [69]:
for i,row in x.iterrows():
    folium.CircleMarker((row.latitude,row.longitude), radius=3, weight=2, color='red', fill_color='red', fill_opacity=.5).add_to(laMap)

#save the map as an html    
laMap.save('laPointMap.html')

In [67]:
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [68]:
x

    latitude  longitude
0  18.597230  73.865630
1  18.596420  73.869230
2  18.593740  73.895320
3  18.531440  73.847770
4  18.573880  73.936520
5  18.561317  73.943382
6  18.561317  73.943382